.DashBoard {
  width: fit-content; /* Adjust width as needed */
  padding: 9px;
  height: 55.5rem; /* Fixed height to enable vertical scrolling */
  display: flex;
  flex-direction: column; /* Stack components vertically */
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center; /* Center items horizontally */
}
@media screen and (max-width: 768px) {
  .DashBoard {
    width: 100%;
    height: fit-content; /* Fixed height to enable vertical scrolling */
    /* overflow-x: auto; */
    overflow: visible;
  }
}
.DashBoard_top {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  text-transform: capitalize;
}
.DashBoard_top_name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.DashBoard_top_name p {
  font-weight: 500;
}
.DashBoard_top_name span {
  color: gray;
}
.DashBoard_top_name svg {
  height: 15px;
  width: 15px;
}
.DashBoard_top_options {
  display: flex;
  align-items: center;
  gap: 15px;
  opacity: 0.5;
  transition: 200ms;
}
.DashBoard_top:hover .DashBoard_top_options {
  opacity: 1;
}
.DashBoard_top_options svg {
  height: 20px;
  width: 20px;
  color: grey;
  transition: 200ms;
}
.DashBoard_top_options svg:hover {
  color: black;
}
.DashBoard_container {
  overflow-y: auto;
  height: auto;
  width: 100%;
}
